
@{
    ViewBag.Title = "O nas";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h1>O nas</h1>

<div style="margin-top:20px; line-height:22px;">

    CPU Tech jest sklepem komputerowym Online. Sprzedajemy elektronikę różnej kategorii w najrozsądniejszych cenach.

</div>