
@{
    ViewBag.Title = "Regulamin";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h1>Regulamin</h1>

<div style="margin-top:20px; line-height:22px;">

    W CPU Tech masz możliwośc dokonania udanego zakupu. gwarantujemy że bedziesz zadowolony (-a) z naszych usług.

</div>