
@{
    ViewBag.Title = "Wysylka";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h1>Wysylka</h1>

<div style="margin-top:20px; line-height:22px;">

    Gwarantujemy bezpłatną przesyłkę. Czas realizacji wynosi 24 godziny.

</div>